.table-events {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.thead-events {
    background-color: #7e7e7e;
    color: white;
}

.tr-events:nth-child(even) {
    background-color: #f2f2f2;
}

.th-events, .td-events {
    border: 1px solid #ddd;
    padding: 8px;
    width: 10%;
}

.th-events {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #3f3f3f;
    color: white;
}

.td-events {
    text-align: center;
    vertical-align: middle;
}

.sub-table-events {
    width: 100%;
    border: none;
    text-align: center;
}

.sub-tbody-events tr {
    border: 1px solid #ddd;
}


.sub-tbody-events p {
    margin: 5px 0;
    font-size: 16px;
}

.button-events {
    background-color: #757575;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.button-events:disabled {
    cursor: not-allowed;
}
.button-events:hover {
    background-color: #feb5b5;
}

.img-events{
    width: 25%;
    height: 25%;
}

.sub-p-events{
    text-align: center;
    vertical-align: middle;

}

.div-events{
    display: flex;
}

.sub-div-events{
    padding: 1%;
}

.p-events{
    font: arial;
    vertical-align: middle;
}

.div-page{
    display: block;
    padding-right: 4%;
}

.tip-events{
    width: 15%;
    height: 15%;
}

.div-prediccion{
    padding-top: 2%;
}

.readonly-textarea {
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%; /* Ajusta al contenedor */
    height: 150px; /* Ajusta la altura */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
    resize: none; /* Evita el redimensionamiento */
    overflow: auto; /* Muestra scroll si el texto es demasiado largo */
    background-color: #f9f9f9;
}

.fixed-text {
    border: 1px solid #ccc;
    padding: 5px;
    width: 300px; /* Ajusta el ancho del contenedor */
    height: 150px; /* Ajusta la altura */
    overflow: auto; /* Muestra scroll si el texto es demasiado largo */
    background-color: #f9f9f9;
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
    white-space: pre-wrap; /* Mantiene el formato de espacios y saltos de línea */
}
